* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-black: #000000;
  --color-yellow: #ffc806;
  --color-yellow-048: hsla(47, 100%, 51%, 0.484);
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-primary: #ec994b;
  --color-cinza: #b8b8b841;

  --font-khand: "Khand", sans-serif;
  --font-mulish: "Mulish", sans-serif;
}

/* Início cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 3.125rem;

  background-color: var(--color-black);

  font-family: var(--font-khand);
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

header a {
  text-decoration: none;
  color: var(--color-yellow);
}

.titutloNav {
  margin-left: 3.125rem;
}

.titulo {
  list-style-type: none;
}

.listaHeader {
  background-color: var(--color-black);

  padding: 10px;

  display: flex;
  flex-direction: column;

  border: var(--color-yellow) 2px solid;

  position: absolute;
  margin-right: 1.5rem;
  right: 0;

  list-style-type: none;

  margin-top: 1.25rem;

  z-index: 2;
}

.menuBar {
  margin-right: 3.125rem;
}

.material-symbols-outlined {
  color: var(--color-yellow);

  width: 25px;
  height: 25px;
}
/* Fim cabeçalho */

/* Início da propaganda */
.propaganda {
  display: flex;

  font-family: var(--font-khand);
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;

  color: var(--color-white);

  text-align: center;
}

.propaganda span {
  color: var(--color-yellow);
}

.imgPropaganda img {
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.textoPropaganda {
  position: absolute;

  right: 0;

  margin-right: 4rem;
  margin-top: 1.5rem;

  z-index: 1;
}

<<<<<<< HEAD
/* slide de preços */
.main{
  width: 100vw;
}

.title-container{
  text-align: center;
}

.card-preços{
  display: flex;
  justify-content: center;
  gap: 60px;
 

}

.item{
  background-color: var(--color-white);
  border-radius: 0.8rem;
  border: solid 1px var(--color-cinza);
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.item img{
  width: 250px;
  height: 120px;
  object-fit: cover;
}

.title-card{
  background-color: var(--color-yellow);
  width: 250px;
  height: 40px;
  font-size: 23px;
  font-family: var(--font-khand);
  text-align: center;

}

.details{
  background-color: var(--color-white);
  position: relative;
  text-align: center;
}

.line{
  width: 180px;
  height: 2px;
  border-radius: 1px;
  border: solid 2px var(--color-cinza);

}

/* fim de slide de preços/ */


@media (min-width: 770px) {
=======
#textoPropagandaFundoPreto {
  background-color: var(--color-black);

  padding: 2px;
}

.textoPropaganda button {
  background-color: var(--color-yellow-048);
  color: var(--color-white);

  font-family: var(--font-khand);
  font-weight: 500;
  font-style: normal;
  font-size: 0.5rem;

  padding: 5px;

  width: 4rem;

  border: none;
  border-radius: 6px;
}
/* Fim da propaganda */

footer {
  text-align: center;

  font-family: var(--font-mulish);

  background-color: var(--color-yellow);

  padding: 0.2rem;

  position: sticky;
  bottom: 0px;
}

@media (min-width: 760px) {
>>>>>>> d95d6b45c331d71571f09476f3b51806302161ca
  /* Início cabeçalho responsivo */
  .menuBar {
    display: none;
  }

  header {
    font-size: 1.4rem;
  }

  .listaHeader {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    border: none;

    margin-top: 0;
    margin-right: 1.5rem;

    position: relative;

    background-color: var(--color-transparent);
  }
  /* Fim cabeçalho responsivo */

  /* Início da propaganda responsivo */
  .textoPropaganda {
    font-size: 1.875rem;

    margin-right: 6.25rem;
    margin-top: 3.125rem;
  }

  .textoPropaganda button {
    width: 180px;

    font-size: 0.938rem;
  }
  /* Fim da propaganda responsivo*/
}
